*.gz
searchformer-main/searchformer/__pycache__/__init__.cpython-310.pyc
searchformer-main/searchformer/__pycache__/__init__.cpython-38.pyc
searchformer-main/searchformer/__pycache__/astar.cpython-310.pyc
searchformer-main/searchformer/__pycache__/maze.cpython-310.pyc
searchformer-main/searchformer/__pycache__/rollout.cpython-310.pyc
searchformer-main/searchformer/__pycache__/sokoban.cpython-310.pyc
searchformer-main/searchformer/__pycache__/sokoban_difficultyv2.cpython-310.pyc
searchformer-main/searchformer/__pycache__/trace.cpython-310.pyc
searchformer-main/searchformer/__pycache__/train.cpython-310.pyc
searchformer-main/searchformer/__pycache__/train.cpython-38.pyc
searchformer-main/searchformer/__pycache__/utils.cpython-310.pyc
searchformer-main/searchformer/transformer/__pycache__/__init__.cpython-310.pyc
searchformer-main/searchformer/transformer/__pycache__/model.cpython-310.pyc
searchformer-main/searchformer/transformer/__pycache__/optim.cpython-310.pyc
searchformer-main/searchformer/transformer/__pycache__/rotary.cpython-310.pyc
searchformer-main/searchformer/transformer/__pycache__/utils.cpython-310.pyc
searchformer.gz
searchformer.vocabulary.gz
sokoban.vocabulary.gz

# MongoDB data and temporary files
.mongo/
*.out

# Vendor dependencies
vendor/
