# Compiled files
*.gz
*.pyc
__pycache__/

# Project specific
/searchformer-main/searchformer/transformer/__pycache__/
/searchformer-main/searchformer/__pycache__/
searchformer.gz
searchformer.vocabulary.gz
sokoban.vocabulary.gz

/jobs/
*/slurm_logs/
data/
*/sokoban_experiments/